<h1>Register</h1>
<p>Already a member? Please <a [routerLink]="['/login']">log in</a> instead.</p>
<div class="row">
    <form class="col-sm-6" (submit)="register()">
        <div *ngIf="serverError">
            <p style="color: red;">{{serverError}}</p>
        </div>
        <div class="form-group">
            <div class="firstNameErrors" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <p *ngIf="firstName.errors.required" style="color: red;">First name is required.</p>
                <p *ngIf="firstName.errors.minlength" style="color: red;">First Name must be at least 2 characters long</p>
            </div>
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" [(ngModel)]="user.firstName" minlength="2" #firstName="ngModel">
        </div>
        <div class="form-group">
            <div class="lastNameErrors" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                <p *ngIf="lastName.errors.required" style="color: red;">Last name is required.</p>
                <p *ngIf="lastName.errors.minlength" style="color: red;">Last Name must be at least 2 characters long</p>
            </div>
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName"  minlength="2" #lastName="ngModel">
        </div>
        <div class="form-group">
            <div class="emailErrors" *ngIf="email.invalid && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required" style="color: red;">Email is required.</p>
                <p *ngIf="email.errors.minlength" style="color: red;">Email must be at least 5 characters long</p>
            </div>
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" [(ngModel)]="user.email" minlength="5" required #email="ngModel">
        </div>
        <div class="form-group">
            <div class="usernameErrors" *ngIf="username.invalid && (username.dirty || username.touched)">
                <p *ngIf="username.errors.required" style="color: red;">Username is required.</p>
                <p *ngIf="username.errors.minlength" style="color: red;">Username must be at least 2 characters long</p>
            </div>
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" [(ngModel)]="user.username" minlength="2" required #username="ngModel">
        </div>
        <div class="form-group">
            <div class="passwordErrors" *ngIf="password.invalid && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required" style="color: red;">Password is required.</p>
                <p *ngIf="password.errors.minlength" style="color: red;">Password must be at least 6 characters long</p>
            </div>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" [(ngModel)]="user.password" minlength="6" required #password="ngModel">
        </div>
        <div class="form-group">
            <div class="passwordConfirmationErrors" *ngIf="(passwordConfirmation.invalid) && (passwordConfirmation.dirty || passwordConfirmation.touched)">
                <p *ngIf="passwordConfirmation.errors.required" style="color: red;">Password Confirmation is required.</p>
                <p *ngIf="passwordConfirmation.errors.minlength" style="color: red;">Password Confirmation must be at least 2 characters long</p>
            </div>
            <div *ngIf="!passwordsMatch">
                <p *ngIf="!passwordsMatch" style="color: red;">Passwords must match.</p>
            </div>
            <label for="passwordConfirm">Confirm Password</label>
            <input class="form-control" type="password" name="passwordConfirm" [(ngModel)]="user.passwordConfirmation" required #passwordConfirmation="ngModel">
        </div>
        <input *ngIf="firstName.valid && lastName.valid && email.valid && username.valid && password.valid && passwordConfirmation.valid" class="btn btn-primary" role="button" type="submit" value="Submit">
        <button *ngIf="!(firstName.valid && lastName.valid && email.valid && username.valid && password.valid && passwordConfirmation.valid)" class="btn btn-primary disabled">Submit</button>
    </form>
</div>